.menu-grid {
  width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.menu-grid-item {
  overflow: clip;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-grid-item img {
  width: 100%;
  height: 100%;
}

.menu-grid-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.menu-grid-item-text .item-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #be6953;
}

.menu-grid-item .item-desc {
  font-size: 0.9rem;
}

.menu-grid-item-text .item-desc {
  color: gray;
}
