table {
  border-collapse: collapse;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  max-width: 678px;
}

th,
td {
  border: 1px solid gray;
  padding: 1rem;
}

th {
  background: #25a;
  color: #fff;
  text-transform: uppercase;
}

td {
  background: #fff;
}

.mantenimiento {
  background-color: #a9f;
}

.web {
  background-color: #f94;
}

.sistemas {
  background-color: #8ca;
}

.hora {
  text-align: center;
  font-weight: bold;
}

.async {
  font-style: italic;
  text-decoration: line-through;
}
